<div class="container">
  <div class="row">
    <div class="col s12 m12">
      <p id="notice"><%= notice %></p>

      <h1><%= @option.name %></h1>

      <% unless @photos.empty? %>
        <div class="carousel carousel-slider">
          <% @photos.each do |p| %>
            <a class="carousel-item"><img src="<%= p %>"></a>
          <% end %>
        </div>
      <% end  %>
      <div class="actions">
        <div><b>Address:</b><a href="https://maps.google.com/maps?q=<%= @option_info.formatted_address %>"><%= @option_info.formatted_address %></a></div>
        <div><b>Rating:</b> <%= @option_info.rating %></div>
        <h4>Would you like to go to this place?</h4>
        <%= button_to 'Yes', {:controller => "options", :action => "register_response", :vote_yes => true, :id => @option.id} , :method=>:post, class: "btn option-button"  %>
        <%= button_to 'No', {:controller => "options", :action => "register_response", :vote_yes => false, :id => @option.id} , :method=>:post, class: "btn option-button" %>
      </div>

    </div>
  </div>
</div>

<br>

<script charset="utf-8">
$('.carousel.carousel-slider').carousel({
    fullWidth: true
  });
</script>
