<%= form_with(model: poll, local: true) do |form| %>
  <% if poll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(poll.errors.count, "error") %> prohibited this poll from being saved:</h2>

      <ul>
      <% poll.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :poll_name %>
  </div>

  <div class="field">
    <%= form.label :event_date %>
    <%= form.date_select :event_date, id: :poll_event_date %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :poll_address %>
  </div>

  <div class="field">
    <%= form.label "Invitees" %>
    <%= form.text_field :respondees, id: :poll_respondees %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
